<div class="card team-card"style="border-radius: 20px">
    <div class="card-header bg-primary">
        <h2 class="card-title">{{ name }}</h2>
        <h3 class="card-title"><i class="fas fa-mug-hot mr-2"></i>{{ role }}</h3>
    </div>
    <div class="card-body">
        <ul class="card-body">
            <li class="list-group-item">ID : {{ id }}</li>
            <li class="list-group-item">Email: <a href="mailto: {{ id }}">{{ email }}</a> </li>
            <li class="list-group-item">Office Number : {{ officeNumber }} </li>
        </ul>
    </div>
</div>